# Auto detect text files and perform LF normalization
* text=auto

src/render/ext/* linguist-vendored
src/test/direct_light/assets/* linguist-vendored

src/render/vk/volk.c linguist-vendored
src/render/vk/volk.h linguist-vendored
src/render/vk/vk_mem_alloc.cpp linguist-vendored
src/render/vk/vk_mem_alloc.h linguist-vendored