radray_toolchain = {
	-- toolchain = "clang-cl"

	-- toolchain = "llvm",

	-- toolchain = "llvm-macos-brew",
}

function get_options()
	return {}
end

function get_test_assets_config()
    return {
        src_path = "assets",
        dst_dir = "assets"
    }
end
